$background: #EBD4DF;

.cf-container {
    background-color: $background;
    min-height: 100vh;
    padding: 0 20px;
    text-align: center;
}

img {
    transform: scale(0.85);
}

.cf-lone {
    display: flex;
    justify-content: flex-start;

    img {
        position: absolute;
        transform: scale(0.6);
    }
}

.cf-top-row,
.cf-bot-row {
    display: flex;
    justify-content: space-evenly;
}

.cf-top-row {
    margin-top: 20px;
}