@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

.pw-container {
    width: 51em;
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.trait-pair-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.empty-bar {
    height: 12px;
    width: 30em;
    border-radius: 10px;
    background-color: #f1f1f1;
}

.bar-filler-1 {
    height: 12px;
    border-radius: 0px 10px 10px 0px;
    float: right;
    width: 51%;
    background-color: #4396b4;
}

.bar-filler-2 {
    height: 12px;
    border-radius: 10px 0px 0px 10px;
    width: 76%;
    background-color: #e4ae3a;
}

.bar-filler-3 {
    height: 12px;
    border-radius: 0px 10px 10px 0px;
    float: right;
    width: 56%;
    background-color: #32a574;
}

.bar-filler-4 {
    height: 12px;
    border-radius: 10px 0px 0px 10px;
    width: 56%;
    background-color: #886299;
}