@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");


.cx-about_container {
    width: 51em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.cx-active {
    width: 60px;
    height: 80px;
    background-color: #577ed2;
    opacity: 0.95;
    float: right;
    margin-right: 300px;
    margin-top: -80px;
}

@media (max-width: 768px) {
    .cx-about_container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .cx-active {
        width: 45px;
        height: 30px;
        background-color: #577ed2;
        opacity: 1;
        margin-right: 195px;
        margin-top: -41px;
    }
}