.main-layout{
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
}

.main-layout__navbar {
    background-color: #3d3339;
}

.main-layout__main-content{
    width: 100%;
    margin-bottom: 20px;
    min-height: calc(100vh - 225px);
    background-color: #ebebeb;
}

@media (max-width: 768px) {
    .main-layout__main-content{
        width: 100%;
        margin-bottom: 20px;
        min-height: calc(100vh - 140px);
        background-color: #ebebeb;
    }
}