.main-layout{
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.main-layout__navbar {
    background-color: #3d3339;
}

.main-layout__main-content{
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
}