nav {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    float: right;
}

.navlink-title {
    height: 100px;
    width: 45px;
    color: white;
    text-decoration: none;
    padding: 5px 0px;
    position: relative;
    writing-mode: vertical-rl;
    margin-right: 4vw;
}


#penn-playbook {
    background-color: #ead2dd;
    color: #2b2b2b;
}

#class-x {
    background-color: #577ed2;
}

#penn-wrapped {
    background-color: #54706b;
}

#under-the-button {
    background-color: #ffdb78;
}

#penn-in-touch {
    background-color: #cf6c5d;
}

.navlink-dot {
    margin-top: -0.5rem;
    opacity: 0;
    transition: opacity 200ms linear;
}

.navlink-title:hover .headerlink-dot {
    opacity: 1;
}

.navlink-dot-active {
    margin-top: -0.5rem;
    display: block;
}

.navlink-no-link {
    pointer-events: none;
}