@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);

$dark: #292929;
$light: #efefef;
$red: #D91E18;
$green: #2ECC71;
$blue: #4183D7;
$font-stack: "Lato", sans-serif;
$small: 40em;

* {
  box-sizing: border-box;
}
  
html, body {
  height: 100%;
  background-color: $light;
}

html {
  background: $light;
}

body {
  min-height: 100%;
  overflow: hidden;

}

h1, h2, h3, h4 {
  color: $dark;
}

.container {
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: min(100%, 1000px);
}

.text-container {
  height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-container {
  margin-top: 10vh;
}

.button-wrap {
  position: relative;
  text-align: center;
  top: 50%;
  margin-top: -2.5em;
  @media (max-width: $small) {margin-top: -1.5em;}
}
/*
.button-label {
  display: inline-block;
  padding: 1em 2em;
  margin: 0.5em;
  cursor: pointer;
  color: $dark;
  border-radius: 0.25em;
  background: $light;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -7px 0 rgba(0,0,0,0.22);
  transition: 0.4s;
  user-select: none;
  h1 {
    font-size: 1em;
    font-family: $font-stack;
  }
  &:hover {
    background: darken($light, 10%);
    color: darken($dark, 10%);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -7px 0 rgba(0,0,0,0.32);
  }
  &:active {
    transform: translateY(-5px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0px -1px 0 rgba(0,0,0,0.22); 
  }
  @media (max-width: $small) {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}
*/

.button-label {
  display: inline-block;
  margin: 0.5em;
  padding-bottom: 1em;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: 0s;
  user-select: none;
  text-align: center;
  h1 {
    font-size: 1em;
    font-family: $font-stack;
  }
  &:hover {
  }
  &:active {

  }
  @media (max-width: $small) {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}

#yes-button + .button-label{
  background: url(svg/button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 23vh;
  height: 20vh;
}
#no-button + .button-label{
  background: url(svg/buttonRed.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 23vh;
  height: 20vh;
}
#maybe-button + .button-label{
  background: url(svg/buttonGreen.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 23vh;
  height: 20vh;
}
#other-button + .button-label{
  background: url(svg/buttonYellow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 23vh;
  height: 20vh;
}

#yes-button:checked + .button-label {
  background: url(svg/buttonDown.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  &:hover {
  }
}


#no-button:checked + .button-label {
  background: url(svg/buttonRedDown.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  &:hover {
  }
}

#maybe-button:checked + .button-label {
  background: url(svg/buttonGreenDown.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  &:hover {
  }
}

#other-button:checked + .button-label {
  background: url(svg/buttonYellowDown.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  &:hover {
  }
}

.hidden {
  display: none;
}