@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Red+Hat+Mono:wght@500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
  font-family: "Red Hat Mono";
}

html,
body {
  background-color: #c4bec6;
  display: border-box;
}

.container-home {
  max-width: none;
  z-index: 1;
  width: 100%;
  height: 100vh;
  margin-right: 0;
  margin-left: 0;
  padding-top: 6vh;
  background-color: #3d3339
}

@media (max-width: 768px) {
  .container-home {
    padding-top: 8vh;
  }

  .wholebook {
    position: absolute;
    left: -100vw;
  }

  .container .book {
    width: 40vw;
  }
}

.wholebook {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.container-home .book {
  position: relative;
  display: block;
  width: 400px;
  height: 550px;
  border-radius: 2px 4px 4px 2px;
  background: linear-gradient(45deg, #DAD5DC 0%, #f2ebf4 100%);
  -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
  -moz-box-shadow: 13px 13px 8px 0px rgba(128, 92, 143, 0.6);
  box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 700;
  color: #2D2D2D;
}

.container-home .book>div,
.container-home .front>div {
  display: block;
  position: absolute;
}


.container-home .front>div {
  width: 400px;
  height: 550px;
}

.container-home .left-side {
  width: 40px;
  left: -20px;
  height: 550px;
  background-color: rgba(232, 229, 234);
  -webkit-transform: rotate3d(0, 1, 0, -90deg);
  -moz-transform: rotate3d(0, 1, 0, -90deg);
  transform: rotate3d(0, 1, 0, -90deg);
}

.cover svg {
  position: absolute;
  top: 50%;
  left: 45%;
  margin-top: -100px;
  margin-left: -110px;
  width: 300px;
}

#eye-right {
  padding-left: 185px;
}

.cover .title-up {
  position: absolute;
  top: 300px;
  left: 47px;
}

.cover .title-down {
  position: absolute;
  top: 350px;
  left: 47px;
}

.cover .num-down {
  position: relative;
  top: 65px;
  left: -95px;
}

.author {
  font-family: 'HK Grotesk';
  font-weight: 400;
  position: absolute;
  top: 475px;
  left: 50px;
  opacity: .8;
}

.container-home .front>div {
  border-radius: 0 3px 3px 0;
  box-shadow:
    inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.container-home .front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.container-home .cover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0, 0, 0, 0.1);
}


.container-home h2 {
  width: 500px;
  height: 40px;
  color: #2b2b2b;
  font-size: 15px;
  line-height: 40px;
  padding-right: 10px;
  text-align: right;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-40px);
  -moz-transform: rotate(90deg) translateY(-40px);
  transform: rotate(90deg) translateY(-40px);
}

.cover {
  background: linear-gradient(45deg, #DAD5DC 0%, #f2ebf4 100%);
}


.left-side h2 span:first-child {
  font-weight: 400;
  font-size: 13px;
  padding-right: 20px;
}

.left-side h2 span:last-child {
  font-family: 'HK Grotesk';
}

.leftpage {
  position: relative;
  display: block;
  width: 400px;
  height: 550px;
  border-radius: 2px 4px 4px 2px;
  background: linear-gradient(to right, white, white, white, white, white, white, white, rgb(211, 200, 200));
  font-family: 'HK Grotesk';
  -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
  -moz-box-shadow: 13px 13px 8px 0px rgba(128, 92, 143, 0.6);
  box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
  font-weight: 400;
  color: #2b2b2b;
}

.rightpage {
  position: relative;
  display: block;
  width: 400px;
  height: 550px;
  border-radius: 2px 4px 4px 2px;
  background: linear-gradient(to left, white, white, white, white, white, white, white, rgb(211, 200, 200));
  font-family: 'HK Grotsek';
  -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
  -moz-box-shadow: 13px 13px 8px 0px rgba(128, 92, 143, 0.6);
  box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
  font-weight: 400;
  color: #2b2b2b;
}

.rightpage .toc {
  padding-top: 20%;
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
}

.rightpage .titlepage {
  padding-top: 20%;
  padding-left: 60px;
  padding-right: 60px;
}

.titlepage h1 {
  font-family: 'HK Grotesk';
  font-style: bold;
  font-weight: 600;
  /* text-align: center; */
  margin-bottom: 0;
  margin-top: 0;
  font-size: 20px;
}

.titlepage h3 {
  font-family: 'HK Grotesk';
  font-style: italic;
  font-weight: 200;
  /* text-align: center; */
  font-size: 12px;
  margin-bottom: 40px;
}

.titlepage p {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
}


.toc h1 {
  font-family: 'HK Grotesk';
  font-style: bold;
  font-weight: 600;
  /* text-align: center; */
  margin-bottom: 50px;
  margin-top: 0;
  font-size: 24px;
}

.link {
  color: #2b2b2b;
  text-decoration: none;
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

br {
  padding-bottom: 20px;
}

.spark {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  height: 240px;
  width: 180px;
}