.pit-window {
    display: flex;
    flex-wrap: nowrap;
    max-height: 100vh;
    max-width: 100vw;
    overflow: scroll;
    overflow-x: scroll;
    white-space: nowrap;
}


.pit-large-container {
    display: inline-block;
    min-height: 1000vh;
    min-width: 1000vw;
    margin-right: 10px;
    position: absolute;
    z-index: 1;
}


.filler {
    display: inline-block;
}